<div class="container-fullw"  width: 100%;">
    <div >
        <div ng-controller="portalCtrl">
            <div ng-if="user.CommunityAccount__r.AccountProfileType__c == 'Supplier'">
                <show-supplier-dashboard supplier="member"></show-supplier-dashboard>
            </div>
            <div ng-if="user.CommunityAccount__r.AccountProfileType__c == 'Buyer'">
            <uib-tabset type="tabs">
                <uib-tab heading="Dashboard">
                        <show-buyer-dashboard></show-buyer-dashboard>
                </uib-tab>
				<uib-tab heading="Supplier">					
					   <show-buyer-supplier></show-buyer-supplier>
				</uib-tab>
			</uib-tabset>
            </div>
        </div>
    </div>
</div>