<div class="row" style="padding-left:65px;padding-right:60px;" id="dashboard-container">
    <div class="page-heading">
        <h3 style="text-align: center">Supplier Dashboard</h3>
    </div>

    <div class="col-sm-12">
        <div class="panel panel-default" id="questionnaire-panel-data">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <b> Questionnaire Summary</b>
                </h3>
            </div>

            <!--TODO: Populate the status based on the answers.. -->
            <uib-accordion close-others="oneAtATime">
                <uib-accordion-group ng-repeat="l1 in questionnaire">
                    <uib-accordion-heading>
                        {{l1.QuestionText__c}}
                    <!--TODO: Make this based on the status of the questionnaire.. -->
                        <i class="glyphicon glyphicon-ok pull-right"></i>
                    </uib-accordion-heading>
                    <ul class="list-group">
                        <li ng-repeat="l2 in l1.children" class="list-group-item"><a ng-click="l1.active=true"> {{l2.QuestionText__c}}</a><i class="glyphicon glyphicon-time pull-right"></i></li>
                    </ul>
                </uib-accordion-group>
            </uib-accordion>
       </div>
        <div class="col-sm-12">
            <div class="panel panel-default" id="invitation-summary-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Invitations
                    </h3>
                </div>
                <div class="panel-body">
                    <p>You have been invited to join <b>{{buyer[0].Name}}</b> 's Supplier Network </p>
                    <button type="submit" class="btn btn-primary">
                        Join
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>