<div>
    <uib-tabset ng-show="questionnaire">
        <uib-tab heading="Dashboard" ng-if="showDashBoard">
            <div style="margin-top: 20px;" id="dashboard-container">
                <div style="padding-left: 20px;padding-right: 20px;">
                    <div class="panel panel-default" id="questionnaire-panel-data">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <b> Questionnaire Summary</b>

                                <div class="dropdown pull-right" style="bottom: 9px;">
                                    <!-- Single button -->
                                    <div class="btn-group" uib-dropdown>
                                        <button id="single-button" type="button" class="btn btn-primary"
                                                uib-dropdown-toggle ng-disabled="disabled">
                                            {{publishButtonText}} <span class="caret"></span>
                                        </button>
                                        <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                                            <li ng-repeat="invitation in invitations track by $index"
                                                ng-if="invitation.Status__c != 'Open' && invitation.Status__c != 'Published'" role="menuitem">
                                                <a ng-click="publishTo(invitation.Campaign__r.Buyer__r.Id,invitation.Id)">{{invitation.Campaign__r.Buyer__r.Name}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </h3>

                        </div>

                        <div class="apptbody">
                            <table class="table table-bordered" style="margin: 0px;">
                                <tr ng-repeat="l1 in questionnaire" class="apptr">
                                    <td class="info apptd" style="font-size: 15px;font-weight: 300;border-top: 0px;">
                                        {{l1.QuestionText__c}}
                                    </td>
                                    <td class=" apptd" ng-repeat="l2 in l1.children"
                                        style="font-size: 13px;font-weight: 300;border-top: 0px;"><a
                                            ng-click="l1.active=true">
                                        {{l2.QuestionText__c}}</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="panel panel-default" id="invitation-summary-panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">Invitations</h3>
                            </div>
                            <div class="panel-body">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Invitation From</th>
                                        <th>Status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="invitation in invitations">
                                        <td>{{$index+1}}</td>
                                        <td>{{invitation.Campaign__r.Buyer__r.Name}}</td>
                                        <td>
                                            <button ng-if="invitation.Status__c == 'Open'" type="submit"
                                                    class="btn btn-primary col-sm-2"
                                                    ng-click="updateInvitationStatus(invitation.Id,'Accepted')">
                                                Join
                                            </button>
                                            <p ng-if="invitation.Status__c != 'Open'">
                                                {{invitation.Status__c}}
                                            </p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab ng-repeat="l1 in questionnaire track by $index"
                 heading="{{l1.QuestionText__c}}"
                 active="l1.active">
            <q-section model="l1" answers="answers" show-edit-control="showEditControl"></q-section>
        </uib-tab>
    </uib-tabset> 
</div>