<div>
    <uib-tabset vertical="true" type="tab" addclass="nav-stacked  col-md-3">
        <uib-tab ng-repeat="l2 in l1.children track by $index" heading="{{l2.QuestionText__c}}"
                 ng-show="l2.children.length">
            <div class="row  col-md-8">
                <div ng-repeat="l3 in l2.children track by $index" ng-show="l3.children.length">
                    <form editable-form name="editableForm" onaftersave="upDateAnswer()">
                        <div class="panel panel-default" id="questionnaire-panel-data">
                            <div class="panel-heading">
                                <b>{{l3.QuestionText__c}}</b>

                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="form-horizontal">
                                <div class="form-group"
                                     ng-repeat="l4 in l3.children track by $index">
                                    <div>
                                        <span class="control-label col-sm-6"><b>{{l4.QuestionText__c}} : </b></span>

                                        <div ng-if="l4.DataType__c=='text'">
                                            <span editable-text="answers[l4.Id]" e-name="name"
                                                  onbeforesave="validate($data,l4.Validation__c)"
                                                  e-id="{{l4.Id}}"
                                                  e-ng-required="l4.isAnswerRequired__c">{{ answers[l4.Id] || 'empty' }}</span>
                                        </div>
                                        <div ng-if="l4.DataType__c=='number'">
                                            <span editable-number="answers[l4.Id]" e-name="name"
                                                  onbeforesave="validate($data,l4.Validation__c)"
                                                  e-ng-required="l4.isAnswerRequired__c">{{ answers[l4.Id] || 'empty' }}</span>
                                        </div>
                                        <div ng-if="l4.DataType__c=='date'">
                                            <span editable-date="answers[l4.Id]" e-name="name"
                                                  onbeforesave="validate($data,l4.Validation__c)"
                                                  e-ng-required="l4.isAnswerRequired__c">{{ answers[l4.Id] || 'empty' }}</span>
                                        </div>
                                        <div ng-if="l4.DataType__c=='url'">
                                            <span editable-url="answers[l4.Id]" e-name="name"
                                                  onbeforesave="validate($data,l4.Validation__c)"
                                                  e-ng-required="l4.isAnswerRequired__c">{{ answers[l4.Id] || 'empty' }}</span>
                                        </div>
                                        <div ng-if="l4.DataType__c=='email'">
                                            <span editable-email="answers[l4.Id]" e-name="name"
                                                  onbeforesave="validate($data,l4.Validation__c)"
                                                  e-ng-required="l4.isAnswerRequired__c">{{ answers[l4.Id] || 'empty' }}</span>
                                        </div>
                                        <div ng-if="l4.DataType__c=='checkbox'">
                                            <span editable-checkbox="answers[l4.Id]" e-name="name"
                                                  onbeforesave="validate($data,l4.Validation__c)"
                                                  e-ng-required="l4.isAnswerRequired__c">{{ answers[l4.Id] || 'empty' }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <show-hide-control></show-hide-control>

                        </div>

                    </form>
                </div>

            </div>

</div>

</uib-tab>
</uib-tabset>
</div>